{% if section.settings.four-block-content %}
<div id="three-blocks" class="three-blocks value-prop text-align-center">
  <div class="tb__inner container">
  <div class="section-space"></div>
      {% if section.settings.section-title %}
        <h3>{{section.settings.section-title}}</h3>
      {% endif %}  
      {% if section.settings.section-desc %}  
        <p>{{section.settings.section-desc}}</p>
      {% endif %}
      <div class="value-props">
        {% for block in section.blocks %}
          <div class="item">
            <img src="{{ block.settings.image | img_url: 'master' }}" class="prop-img">
            <h4>{{ block.settings.title}}</h4>
            <p>{{ block.settings.text}}</p>
          </div>
        {% endfor %}
    </div>    
    <div class="section-space"></div>
  </div>
</div>
{% endif %}
{% schema %}
  {
    "name": "Why Men Need",
    "settings": [
      {
        "type": "checkbox",
        "id": "four-block-content",
        "label": "Enable Blocks",
        "default": true
      },
      {
        "type": "text",
        "id": "section-title",
        "label": "Section Title",
        "default": "Lorem ipsum dolor sit amet"
      },
      {
        "type": "text",
        "id": "section-desc",
        "label": "Section Description",
        "default": "Lorem ipsum dolor sit amet"
      }
    ],
    "blocks": [
      {
        "type": "Block",
        "name": "Block",
        "limit": 4,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Slide Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Block Title",
            "default": "Formulated for all skin types"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Block Text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna."
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Misc",
        "name": "Why Men Need"
      }
    ]
  }
{% endschema %}