{% if section.settings.best-sellers %}
  <div id="best-selling-collection" class="best-selling-collection">
    <div class="container">
      <div class="section-space"></div>
      <div class="title-space text-align-center">
        <h3>{{ section.settings.title }}</h3>
        <p>{{ section.settings.text }}</p>      
      </div>
      <div class="bestseller-products">
        {% assign count = 1 %}
        {% for product in collections[section.settings.collection].products %}
          
          <div class="bestseller-product" id="best-sel-product-{{product.id}}">
            <a  {% if section.settings.quick-view %}class="quickview" id="qv-product-{{product.id}}" href="#" {% else %} href="{{product.url}}" {% endif %}>
              <div class="mark">
                <img src="{{ 'mark-hot.png' | asset_img_url: '' }}" alt="">
              </div>
              <div class="product-img">
                <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{product.title}}">
              </div>
              <div class="product-stars">
                <img src="{{ 'stars.png' | asset_img_url: '' }}" alt="rating">
              </div>
              {% assign product_title = product.title | split: '-' %}
              <span class="sm-title">{{product_title[0]}}</span>
              <p class="sm-p">
                <i>
                  {{ product.description | strip_html | truncate: 40 }}
                </i>
              </p>
            </a>
            
            {% form 'product', product, data-productid: product.id, id:form_id, class:'x-fc__form', data-cart-form: '' %}
              <select name="id" data-productid="{{ product.id }}" id="ProductSelect-{{ section.id }}" style="display: none;">
              {% for variant in product.variants %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} {% unless variant.available %} disabled="disabled" {% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {% if variant.available %}{{ variant.price | money_with_currency }}{% else %}{{ 'products.product.sold_out' | t }}{% endif %}</option>
                  {% endfor %}
              </select>
            {% if product.available %}
              <button id="AddToCart-{{ section.id }}" type="submit" name="add" class="btn btn--add-to-cart x-fc__btn site-btn">
                <span class="x-fc__btn-text">Add to Bag</span>
                <p class="x-fc__btn-price"> - {{ product.price | money }}</p>
              </button>
            {% else %}
              <button type="button" class="btn btn--add-to-cart btn--disabled{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %} x-fc__btn site-btn" disabled="disabled">
                {{ 'products.product.sold_out' | t }}
              </button>
            {% endif %}
            {% endform %}
          {% include 'product-popup' %}
          </div>
        {% assign count = count | plus: 1 %}
        {% endfor %}  
      </div>
      <div class="section-space"></div>
    </div>
  </div>

{% endif %}

{% schema %}
  {
    "name": "Bettr Best Selles",
    "settings": [
      {
        "type": "checkbox",
        "id": "best-sellers",
        "label": "Enable Best Sellers"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Collection Title"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Collection Text"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Choose a collection"
      },
      {
        "type": "checkbox",
        "id": "quick-view",
        "label": "Enable Quick View"
      }
    ],
    "presets": [
      {
        "category": "Collection",
        "name": "Best Sellers"
      }
    ]
  }
{% endschema %}
