
<div id="instagram-app" class="instagram-app">
  <div class="section-space"></div>
    <div class="text-align-center container">
      <h3>Stay Connected</h3>
      <p>Follow us on Instagram <a href="#">@bettr.co</a></p>
    </div>
    
    {% if settings.instagram_app_enable %}
    <div class="slider-container">
     <div class="slider instaslider">
     {% for i in (1..7) %}
     {% capture insta %}insta_enable_{{i}}{% endcapture %}
     {% capture instagram_img %}insta_img_{{i}}.png{% endcapture %}
     {% capture inta_link %}inta_link_{{i}}{% endcapture %}
     {% if settings[insta] %}
     <div>
       <a href="{{ settings[inta_link] }}" class="inner-slide">
         <div class="slide-img" style="background-image: url({{ instagram_img | asset_url }});"></div>
       </a>  
     </div>
     {% endif %}
     {% endfor %}
     </div>
    </div> 
    {% endif %}

  <div class="section-space"></div>
</div>

{% schema %}
  {
    "name": "Instagram App",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "#Bettr"
      },
      {
        "type": "text",
        "id": "sub-title",
        "label": "Section Sub Title",
        "default": "to join in on the fun."
      }
    ],
    "blocks": [
      {
        "type": "instagramfeed",
        "name": "Instagramfeed",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Choose Image"
          },
          {
            "type": "url",
            "id": "cta-link",
            "label": "Link to Instagram"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Misc",
        "name": "Instagram App"
      }
    ]
  }
{% endschema %}